asgiref
certifi
charset-normalizer
click
coreapi
coreschema
dash
dj-database-url
Django
django-cors-headers
django-rest-swagger
djangorestframework
drf-yasg
django-filter
firebase-admin
openapi-codec
packaging
Pillow
psycopg2
psycopg2-binary
python-dateutil
pytz
PyYAML
pandas
requests
simplejson
six
sqlparse
tzdata
uritemplate
urllib3
whitenoise
cryptography
