psycopg2
asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-cors-headers
django-rest-swagger
djangorestframework
dj_database_url
drf-yasg
faker
matplotlib
openapi-codec
packaging
pandas
Pillow
python-dotenv
python-dateutil
pytz
PyYAML
requests
setuptools
simplejson
sqlparse
six
tzdata
uritemplate
urllib3
firebase-admin