psycopg2
asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-cors-headers
django-rest-swagger
djangorestframework
drf-yasg
openapi-codec
packaging
Pillow
python-dotenv
pytz
PyYAML
requests
setuptools
simplejson
sqlparse
tzdata
uritemplate
urllib3